{% extends '_base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Nowe hasło' %}
{% endblock title %}

{% block container %}
<header>
    {% include 'partials/_menu2.html' %}
    <div class="slogan container container--90"></div>
</header>


<section class="login-page">
    <h2>{% trans 'Pomyślnie ustawiono nowe hasło. Możesz zalogować się do swojego konta.' %}</h2>
    <a href="{% url 'app:login' %}"><button class="btn">{% trans 'Zaloguj' %}</button></a>
</section>
{% endblock container %}


</body>
</html>
