{% extends '_base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Zmiana hasła' %}
{% endblock title %}

{% block container %}
<header>
    {% include 'partials/_menu.html' %}
</header>

<section class="login-page">
    <h2>{% trans 'Zmień hasło' %}</h2>
    <div class="form-group form-wider like-input">
        {% trans 'Hasło pomyślnie zmieniono' %}
    </div>
    <a href="{% url 'app:profile' %}">
        <button class="btn m-5">{% trans 'Twoje konto' %}</button>
    </a>
</section>
{% endblock container %}

</body>
</html>
