{% extends '_base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Nowe hasło' %}
{% endblock title %}

{% block container %}
<header>
    {% include 'partials/_menu2.html' %}
</header>


<section class="login-page">
    <h2>{% trans 'Podaj nowe hasło' %}</h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-group form-wider like-input">
            <div class="m-3">
                {{ form.new_password1.label }}
                {{ form.new_password1 }}
            </div>
            <div class="m-3">
                {{ form.new_password2.label }}
                {{ form.new_password2 }}
            </div>
            <div class="m-3 p-5 spacer"></div>
            <h4 class="confirmation-message m-3 pb-4 pt-3 d-none">{% trans 'Podane hasła nie są jednakowe' %}</h4>
        </div>

        <div class="form-group form-group--buttons m-3">
            <button class="btn" type="submit">{% trans 'Zatwierdź' %}</button>
        </div>

    </form>
</section>
{% endblock container %}


</body>
</html>
