{% extends '_base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Logowanie' %}
{% endblock title %}

{% block container %}
<header>
    {% include 'partials/_menu2.html' %}
</header>

<section class="login-page">
    <h2>{% trans 'Zaloguj się' %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group form-wider">
            <input type="email" name="email" placeholder="Email"/>
        </div>
        <div class="form-group form-wider">
            <input type="password" name="password" placeholder="{% trans 'Hasło' %}"/>
            <a href="{% url 'password_reset' %}" class="btn btn--small btn--without-border reset-password">{% trans 'Przypomnij hasło' %}</a>
        </div>

        <div class="form-group form-group--buttons">
            <a href="{% url 'app:register' %}" class="btn btn--without-border">{% trans 'Załóż konto' %}</a>
            <button class="btn" type="submit">{% trans 'Zaloguj się' %}</button>
        </div>
    </form>
</section>
{% endblock container %}

</body>
</html>
