{% extends '_base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Profil' %}
{% endblock title %}

{% block container %}
<header>
    {% include 'partials/_menu2.html' %}
    <div class="slogan container container--90"></div>
</header>

<div class="container-sm mt-5 mb-5">
    <h3 class="p-4">
        {% trans 'Witaj' %} {{user.username}}!<br>
        {% trans 'To są informacje o Tobie.' %}
    </h3>
    <div class="display-6 p-4">
        <div class="row">
            <div class="col-0 col-sm-2">{% trans 'Imię:' %}</div>
            {% if user.first_name %}
            <div class="col-0 col-sm-4">{{ user.first_name }}</div>
            {% else %}
            <div class="col-0 col-sm-4">{% trans '-Nie podano-' %}</div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-0 col-sm-2">{% trans 'Nazwisko:' %}</div>
            {% if user.last_name %}
            <div class="col-0 col-sm-2">{{user.last_name}}</div>
            {% else %}
            <div class="col-0 col-sm-2">{% trans '-Nie podano-' %}</div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-0 col-sm-2">{% trans 'Email:' %}</div>
            <div class="col-0 col-sm-2">{{user.email | default:"{% trans '-Nie podano-' %}"}}</div>
        </div>
    </div>
</div>


<div class="container-sm mt-5 mb-5">
    <h3 class="p-4">
        {% trans 'A poniżej lista przekazanych przez Ciebie darów:' %}
    </h3>
    <h4 class="row m-5">
        <div class="col-0 col-md-3"><strong>{% trans 'Organizacja' %}</strong></div>
        <div class="col-0 col-md-1"><strong>{% trans 'Worki' %}</strong></div>
        <div class="col-0 col-md-3"><strong>{% trans 'Data odbioru' %}</strong></div>
        <div class="col-0 col-md-4"><strong>{% trans 'Kategorie' %}</strong></div>
        <div class="col-0 col-md-1"><strong>{% trans 'Odebrane' %}</strong></div>
    </h4>

    <div class="custom-scrollbar" style="overflow-y: auto; overflow-x: hidden; max-height: 50vh"
         id="donation-container">

        <div class="active-donations">
            {% for donation in donations %}
            {% if not donation.is_taken %}
            <h4 class="row m-3">
                <div class="col-0 col-md-3">{{ donation.institution }}</div>
                <div class="col-0 col-md-1 text-center">{{ donation.quantity }}</div>
                <div class="col-0 col-md-3">
                    {{ donation.pick_up_date|date:"d/m/Y" }} {{donation.pick_up_time|time:"G:i" }}
                </div>
                <div class="col-0 col-md-4">{{ donation.categories.all|join:", " }}</div>
                <input type="submit" class="col-0 col-md-1 btn text-center p-0 taken-button"
                       data-id="{{ donation.pk }}"
                       data-status="true" value="{% trans 'Zamknij' %}">
            </h4>
            {% endif %}
            {% empty %}
            <div class="row text-center">
                <h4>{% trans 'Brak darów do wyświetlenia' %}</h4>
            </div>
            {% endfor %}
        </div>

        <div class="m-5"><p></p></div>

        <!--        Version with two-way fetch-->
        <div class="inactive-donations">
            {% for donation in donations %}
            {% if donation.is_taken %}
            <h4 class="row m-3">
                <div class="col-0 col-md-3 text-decoration-line-through">{{ donation.institution }}</div>
                <div class="col-0 col-md-1 text-decoration-line-through text-center">{{ donation.quantity }}</div>
                <div class="col-0 col-md-3 text-decoration-line-through">
                    {{ donation.pick_up_date|date:"d/m/Y" }} {{donation.pick_up_time|time:"G:i" }}
                </div>
                <div class="col-0 col-md-4 text-decoration-line-through">{{ donation.categories.all|join:", " }}
                </div>
                <input type="submit" class="col-0 col-md-1 btn text-center p-0 taken-button"
                       data-id="{{ donation.pk }}"
                       data-status="false" value="{% trans 'Przywróć' %}">
            </h4>
            {% endif %}
            {% endfor %}
        </div>

        <!--        Version without two-way fetch-->
        <!--        <div class="inactive-donations">-->
        <!--            {% for donation in donations %}-->
        <!--            {% if donation.is_taken %}-->
        <!--            <h4 class="row m-3">-->
        <!--                <div class="col-0 col-md-3 text-decoration-line-through">{{ donation.institution }}</div>-->
        <!--                <div class="col-0 col-md-1 text-center text-decoration-line-through">{{ donation.quantity }}</div>-->
        <!--                <div class="col-0 col-md-3 text-decoration-line-through">{{ donation.pick_up_date|date:"d/m/Y" }} {{ donation.pick_up_time|time:"G:i" }}</div>-->
        <!--                <div class="col-0 col-md-4 text-decoration-line-through">{{ donation.categories.all|join:", " }}</div>-->
        <!--                <div class="col-0 col-md-1 text-center p-0" id="{{ donation.pk }}">Odebrane</div>-->
        <!--            </h4>-->
        <!--            {% endif %}-->
        <!--            {% endfor %}-->
        <!--        </div>-->

    </div>


</div>

{% endblock container %}